@import url('http://fonts.cdnfonts.com/css/cocogoose');

* {
  font-family: sans-serif;
}

body {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 10px;
  border: 2px solid #2e2e2e;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
}

.date p {
  display: flex;
  align-content: flex-end;
  padding-left: 80%;
  padding-top: 10px;
}

.nav-item:nth-child(2),
.nav-item:nth-child(3) {
  border-left: 2px solid black;
}

.linkmenu {
  padding-right: 30px;
}

form > input {
  margin-bottom: 10px;
}

tr {
  margin-bottom: 2rem;
}

#books-list {
  background-position: top center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 77vh;
}

#books-list-container {
  width: 50vw;
  opacity: 0.8;
  height: 77vh;
}

.btn {
  border: 1px solid black;
}

.btn:hover {
  border: 2px solid #2e2e2e;
}

.hide {
  display: none;
}

.all-books {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 440px;
}

.book-list {
  width: 100%;
  border: 3px solid black;
}

.book-list div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.book-list div:nth-child(odd) {
  background-color: grey;
}

#add-book-container {
  height: 77vh;
}

.contact-list {
  padding-left: 40%;
}

.contact-info {
  height: 77vh;
}

.contact-info p {
  padding-left: 38%;
}

.end-page {
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightslategray;
}

.end-page p {
  padding-left: 10px;
  padding-top: 10px;
  font-weight: bold;
}
